/* _font.scss */
@font-face {
  font-display: swap;
  font-family: "Cascadia Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CascadiaMono-Regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Cascadia Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/CascadiaMono-Bold.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Cascadia Mono";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/CascadiaMono-Italic.woff2") format("woff2");
}
