/* _font.scss */
@font-face {
  font-display: swap;
  font-family: "Red Hat Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RedHatMono-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Red Hat Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/RedHatMono-bold.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Red Hat Mono";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/RedHatMono-italic.woff2") format("woff2");
}
