div#profile img#github-photo {
  border-radius: 2rem;
  max-width: 250px;
  margin: 1.5em auto;
}

div#profile div#socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#profile div#socials a.social-link img {
  width: 4rem;
  margin: 0;
  border: none;
}
