
/* Timespan styling */
.timespan {
    border: 0.2em solid var(--accent);
    background-color: transparent;
    border-radius: .5em;
    font-size: 0.9rem;
    padding: .5em .75em;
    color: var(--accent);
    display: inline-flex;
}

.timespan.is-current {
    border: transparent;
    font-weight: bold;
    background-color: var(--accent);
    color: var(--foreground);
}

.timespan time {
    text-align: center;
}