<article class="highlight-card">
  <div class="highlight-card__header">
    <span class="highlight-card__badge">Latest Post</span>
    <div class="highlight-card__meta">
      {{- if and (.Param "readingTime") (eq (.Param "readingTime") true) -}}
        <span class="highlight-card__reading-time"
          >{{ .ReadingTime }} {{ $.Site.Params.minuteReadingTime | default "min read" }}</span
        >
      {{- end -}}
      {{- if .Date -}}
        <time class="highlight-card__date">{{ .Date.Format "Jan 2006" }}</time>
      {{- end -}}
    </div>
  </div>

  <h2 class="highlight-card__title">
    <a class="highlight-card__title-link" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </h2>

  {{ if .Params.tags }}
    <div class="highlight-card__tags">
      {{ range first 3 .Params.tags }}
        <a class="highlight-card__tag-link" href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}"
          >#{{ . }}</a
        >
      {{ end }}
    </div>
  {{ end }}


  <div class="highlight-card__action">
    <a href="{{ .Permalink }}" class="highlight-card__cta">Read more →</a>
  </div>
</article>
